<section class="wrapper">
  <div class="title">Add new entry</div>
  <form class="form" [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="nameLastname">
      <div class="holder">
        Name (required)
        <input type="text" class="name" formControlName="name" />
        <div
          class="error"
          *ngIf="
            myForm.get('name')?.invalid &&
            (myForm.get('name')?.touched || isSubmitted)
          "
        >
          Name is required.
        </div>
      </div>
      <div class="holder">
        Last name (required)
        <input type="text" class="lastname" formControlName="lastname" />
        <div
          class="error"
          *ngIf="
            myForm.get('lastname')?.invalid &&
            (myForm.get('lastname')?.touched || isSubmitted)
          "
        >
          Last name is required.
        </div>
      </div>
    </div>
    <div class="emso">
      <div class="holder">
        EMSO (required)
        <input type="text" class="emsoInput" formControlName="emso" />
        <div
          class="error"
          *ngIf="
            myForm.get('emso')?.errors?.['required'] &&
            (myForm.get('emso')?.touched || isSubmitted)
          "
        >
          EMSO is required.
        </div>
        <div
          class="error"
          *ngIf="myForm.get('emso')?.errors?.['minlength'] && (myForm.get('emso')?.touched || isSubmitted)"
        >
          EMSO must be 13 digits.
        </div>
      </div>
    </div>
    <div class="phoneEmail">
      <div class="holder">
        E-mail (required)
        <input type="email" class="email" formControlName="email" />
        <div
          class="error"
          *ngIf="myForm.get('email')?.errors?.['required'] && (myForm.get('email')?.touched || isSubmitted)"
        >
          E-mail is required.
        </div>
        <div
          class="error"
          *ngIf="myForm.get('email')?.errors?.['email'] && (myForm.get('email')?.touched || isSubmitted)"
        >
          Please enter a valid email address.
        </div>
      </div>
      <div class="holder">
        Phone number (optional)<input
          name="phone"
          type="text"
          class="phone"
          formControlName="phone"
        />
      </div>
    </div>
    <div class="birthDate">
      <div class="holder">
        Select your date of birth (required)
        <input
          name="date"
          type="date"
          class="date"
          formControlName="dateOfBirth"
        />
        <div
          class="error"
          *ngIf="
            myForm.get('dateOfBirth')?.invalid &&
            (myForm.get('dateOfBirth')?.touched || isSubmitted)
          "
        >
          Date of birth is required.
        </div>
      </div>
    </div>
    <div class="controls">
      <button type="submit" class="button save">Save</button>
      <div class="button cancel">Cancel</div>
    </div>
  </form>
</section>
